@import url("https://fonts.googleapis.com/css2?family=Puritan&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Puritan", sans-serif;
}

.container {
    width: 70vw;
    margin: 0 auto;
}

.pizzas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.active {
    border-bottom: 0.2rem solid #fff;
}
